.profileContainer {
  width: 54rem;
  height: 13.25rem;
  border-radius: 10px;
  margin-top: -5rem;

  background: var(--base-profile);

  display: flex;
  gap: 2rem;
}

.avatar {
  width: 200px;
  max-height: 210px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

.profile {
  display: flex;
  gap: 6px;
  padding-right: 1rem;
}

.info {
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 24px;
    color: var(--base-title);
  }

  p {
    color: var(--base-text);
    font-size: 16px;
    line-height: 1.6;
  }
}

.infoTags {
  display: flex;
  gap: 1rem;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      font-size: 16px;
      color: var(--base-subtitle);
    }
  }
}

button {
  color: var(--blue);
  background: transparent;
  border: none;
  height: 19px;
  width: 67px;
  cursor: pointer;

  display: flex;

  justify-content: center;
  gap: 4px;

  padding-top: 3.5rem;
  padding-right: 2rem;

  font-size: 12px;
  font-weight: bold;
  line-height: 1.6;

  span {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}
