.post {
  background: var(--base-post);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 30rem;
  min-height: 16.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--base-title);
    font-size: 16px;
    
  }

  span {
    color: var(--base-span);
    font-size: 14px;
  }
}

p {
  color: var(--base-span);
}
